extends base
block content 
    .container(style='margin-top: 7rem;')
        h1.display-1 Products
        .d-flex.justify-content-center.justify-content-md-between.justify-content-lg-between.flex-wrap
            //- .card.m-4(style='width: 300px;')
            //-     img.pt-1(src='./images/img5.jpg' alt='...')
            //-     .card-body
            //-         h5.card-title Card title
            //-         p.card-text
            //-         | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            //-         .container.d-flex.justify-content-between.mt-4
            //-             a.btn.btn-primary(href='./product.html') Price: 999
            //-             button.btn.btn-primary.text-white Add to Card
            for product in products 
                .card.m-4(style='width: 300px;')
                    img.pt-1.align-self-center(src=`./images/products/${product.image}.jpg` alt='...')(style='width:200px; height:200px;')
                    .card-body
                        h5.card-title= product.brand
                        p.card-text
                        | #{product.name}
                        .idOfTheProduct.d-none #{product._id}
                        .container.d-flex.justify-content-between.mt-4
                            a.btn.btn-primary(href=`/${product.slug}`) Price: #{product.price}
                            button.btn.btn-primary.text-white.addToCard Add to Card

    .alert.alert-primary.position-fixed.bottom-0.end-0.alertProductAddCard.d-none(role='alert')
        | Product added to Cart

    script(src='./js/addToCart.js')
        
